AISSTREAM_API_KEY=
AIS_API_URL=
APPLIXIR_API_KEY=
CAMERA_GEOJSON_URLS=
DATABASE_URL=
DELHI_OTD_API_KEY=
GEMINI_API_KEY=
GTFS_POLL_INTERVAL_MS=
GTFS_REALTIME_URLS=
OPENCELLID_API_KEY=
OVERPASS_URL=
TAXI_GEOJSON_URL=
TRAFFIC_GEOJSON_URL=
TRANSITOUS_COUNTRIES=